<a href="https://colab.research.google.com/github/rldckd0103/pdm02/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head() #맨 위에 5개

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054

In [4]:
df.head(2)

                   A         B        C         D
2020-09-28 -0.179530 -1.101894 -0.48043 -0.156298
2020-09-29  0.814514  0.476537 -0.26812  0.441757

In [5]:
df.tail(3) #맨 끝에서 3개

                   A         B         C         D
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.283583  0.035698 -0.113472  0.193527
std    0.724487  0.937440  1.231673  0.951551
min   -0.540291 -1.101894 -1.794020 -0.600594
25%   -0.132301 -0.687054 -0.709468 -0.303891
50%    0.079360  0.021254 -0.374275 -0.170676
75%    0.648218  0.730489  0.852951  0.292243
max    1.448086  1.229827  1.420912  2.004852

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
# Transposing your dataframe:
df.T

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -0.179530    0.814514    0.009388    0.149332   -0.540291    1.448086
B   -1.101894    0.476537    1.229827   -0.771395    0.815139   -0.434029
C   -0.480430   -0.268120   -0.785813   -1.794020    1.420912    1.226641
D   -0.156298    0.441757   -0.343504    2.004852   -0.185054   -0.600594

In [14]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [15]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)
# axis=0 에서 ascending false 는 10.3 - 9.28 로 변경됨.

(                   A         B         C         D
 2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
 2020-09-29  0.814514  0.476537 -0.268120  0.441757
 2020-09-30  0.009388  1.229827 -0.785813 -0.343504
 2020-10-01  0.149332 -0.771395 -1.794020  2.004852
 2020-10-02 -0.540291  0.815139  1.420912 -0.185054
 2020-10-03  1.448086 -0.434029  1.226641 -0.600594,
                    A         B         C         D
 2020-10-03  1.448086 -0.434029  1.226641 -0.600594
 2020-10-02 -0.540291  0.815139  1.420912 -0.185054
 2020-10-01  0.149332 -0.771395 -1.794020  2.004852
 2020-09-30  0.009388  1.229827 -0.785813 -0.343504
 2020-09-29  0.814514  0.476537 -0.268120  0.441757
 2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298)

In [16]:
df,df.sort_index(axis=1, ascending=False)
# axis=1 에서 ascending false 는 A-D 에서 D-A로 변경됨

(                   A         B         C         D
 2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
 2020-09-29  0.814514  0.476537 -0.268120  0.441757
 2020-09-30  0.009388  1.229827 -0.785813 -0.343504
 2020-10-01  0.149332 -0.771395 -1.794020  2.004852
 2020-10-02 -0.540291  0.815139  1.420912 -0.185054
 2020-10-03  1.448086 -0.434029  1.226641 -0.600594,
                    D         C         B         A
 2020-09-28 -0.156298 -0.480430 -1.101894 -0.179530
 2020-09-29  0.441757 -0.268120  0.476537  0.814514
 2020-09-30 -0.343504 -0.785813  1.229827  0.009388
 2020-10-01  2.004852 -1.794020 -0.771395  0.149332
 2020-10-02 -0.185054  1.420912  0.815139 -0.540291
 2020-10-03 -0.600594  1.226641 -0.434029  1.448086)

#### Sort by value
- sort_values(by='column')

In [22]:
# Sorting by values:
df,df.sort_values(by='B', ascending=False)
# ascending false를 안하면 작은 값이 위. 하면 큰 값이 위.

(                   A         B         C         D
 2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
 2020-09-29  0.814514  0.476537 -0.268120  0.441757
 2020-09-30  0.009388  1.229827 -0.785813 -0.343504
 2020-10-01  0.149332 -0.771395 -1.794020  2.004852
 2020-10-02 -0.540291  0.815139  1.420912 -0.185054
 2020-10-03  1.448086 -0.434029  1.226641 -0.600594,
                    A         B         C         D
 2020-09-30  0.009388  1.229827 -0.785813 -0.343504
 2020-10-02 -0.540291  0.815139  1.420912 -0.185054
 2020-09-29  0.814514  0.476537 -0.268120  0.441757
 2020-10-03  1.448086 -0.434029  1.226641 -0.600594
 2020-10-01  0.149332 -0.771395 -1.794020  2.004852
 2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [23]:
df

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [24]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28   -0.179530
2020-09-29    0.814514
2020-09-30    0.009388
2020-10-01    0.149332
2020-10-02   -0.540291
2020-10-03    1.448086
Freq: D, Name: A, dtype: float64

### 열-A,B를 다 선택할려면?

In [25]:
df[['A','B']] #df['A','B']

                   A         B
2020-09-28 -0.179530 -1.101894
2020-09-29  0.814514  0.476537
2020-09-30  0.009388  1.229827
2020-10-01  0.149332 -0.771395
2020-10-02 -0.540291  0.815139
2020-10-03  1.448086 -0.434029

In [26]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504

In [28]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

SyntaxError: ignored

#### Selecting data by label

> **loc, iloc**

In [29]:
df

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [33]:
dates[0]

Timestamp('2020-09-28 00:00:00', freq='D')

In [34]:
df.loc[dates[0]]   # loc()

A   -0.179530
B   -1.101894
C   -0.480430
D   -0.156298
Name: 2020-09-28 00:00:00, dtype: float64

In [35]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']] #A,B 열의 전체

                   A         B
2020-09-28 -0.179530 -1.101894
2020-09-29  0.814514  0.476537
2020-09-30  0.009388  1.229827
2020-10-01  0.149332 -0.771395
2020-10-02 -0.540291  0.815139
2020-10-03  1.448086 -0.434029

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [36]:
df

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [42]:
#df.loc[0:2,['C','D']]
# df.loc['20200928':'20200929',['C','D']]
df.loc[dates[:2],['C','D']]

                  C         D
2020-09-28 -0.48043 -0.156298
2020-09-29 -0.26812  0.441757

#### Selecting data by position (iloc())
- index 사용

In [41]:
df

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [43]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.149332
B   -0.771395
C   -1.794020
D    2.004852
Name: 2020-10-01 00:00:00, dtype: float64

In [50]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4] # 2:4 = 3,4     [2 전까지, 3,4 col]

                  C         D
2020-09-28 -0.48043 -0.156298
2020-09-29 -0.26812  0.441757

In [51]:
# Select one item
df.iloc[1,1]

0.47653716513336136

#### Selecting data by Boolean indexing

In [52]:
df

                   A         B         C         D
2020-09-28 -0.179530 -1.101894 -0.480430 -0.156298
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-02 -0.540291  0.815139  1.420912 -0.185054
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [54]:
df[df.A > 0]

                   A         B         C         D
2020-09-29  0.814514  0.476537 -0.268120  0.441757
2020-09-30  0.009388  1.229827 -0.785813 -0.343504
2020-10-01  0.149332 -0.771395 -1.794020  2.004852
2020-10-03  1.448086 -0.434029  1.226641 -0.600594

In [55]:
df[df > 0]

                   A         B         C         D
2020-09-28       NaN       NaN       NaN       NaN
2020-09-29  0.814514  0.476537       NaN  0.441757
2020-09-30  0.009388  1.229827       NaN       NaN
2020-10-01  0.149332       NaN       NaN  2.004852
2020-10-02       NaN  0.815139  1.420912       NaN
2020-10-03  1.448086       NaN  1.226641       NaN